# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [12]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

### Step 4. See the first 10 entries

In [15]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [16]:
# Solution 1

chipo.shape[0]

4622

In [17]:
# Solution 2

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [19]:
# chipo.shape[1]

len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [48]:
# chipo.columns

for i in chipo.columns:
    print (i)

order_id
quantity
item_name
choice_description
item_price
Count

### Step 8. How is the dataset indexed?

In [24]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [116]:
# chipo.groupby(by="item_name").sum().sort_values('quantity',ascending=False).head(1)

# chipo['item_name'].value_counts().index.tolist()[0]

# chipo[['item_name','quantity']].groupby('item_name').agg(['count','sum'])

items = chipo[['item_name','quantity']].groupby('item_name').agg(['count','sum']).sort_values(('quantity', 'sum'), ascending=False)

print(items.index[0])

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [82]:
chipo.loc[chipo['item_name'] == max_ordered.index.tolist()[0], 'quantity'].sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [139]:
items = chipo[['choice_description','quantity']].groupby('choice_description').agg(['count','sum']).sort_values(('quantity', 'sum'), ascending=False)

print(items.head(1))

                   quantity
                      count  sum
choice_description
[Diet Coke]             134  159

### Step 12. How many items were orderd in total?

In [127]:
chipo.item_name.count()

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [129]:
chipo.item_name.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [110]:
try:
    dollarizer = lambda x: float(x[1:-1])
    chipo.item_price = chipo.item_price.apply(dollarizer)
    
except:TypeError

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [140]:
revenue =  (chipo.item_price * chipo.quantity).sum()
print('Revenue is : $ '+ str(revenue))

Revenue is : $ 39237.02

### Step 15. How many orders were made in the period?

In [141]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [143]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [142]:
# chipo.groupby(by=['order_id']).sum().mean()['revenue']

KeyError: 'revenue'

### Step 17. How many different items are sold?